
.main
{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 255);
    align-items: center;
    
    
}
.form
{
    background-color: rgb(144, 238, 144);
    align-items: center;
    border: solid 1px black;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 20%;
}


button{
    background-color: red;
    border-radius: 10px;
}

.error
{
    color: red;
    font-size: 20px;
}