:root {
    --primary-color: #111;
    --secondary-color: #fff;
    --tertiary-color: #f84814;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown {
    display: inline-block;
}

.linkBase:hover, .linkActive:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}